*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
}

html,body{
    background: rgb(192, 224, 236);
    font-family: 'Montserrat', sans-serif;
    /* background-image: url("Back.png"); */
    /* background-image: url("Back0.jpg"); */
    background-image: url("Back01.jpg");
    background-size:cover;
    background-attachment: fixed;
    /* background-repeat: no-repeat;
    
    background-attachment: fixed; */

}

li, a {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    color: rgb(12, 18, 36);
    text-decoration: none;

}

/* NAV STATRTS */
nav{
    display: flex;
    justify-content:space-evenly;
    /* padding: 30px 15px; */
}

nav li{
    top:15%;
    padding:30px 20px ;
}

nav.nav_links{
    font-size: 150%;
}
.nav_links{
    margin: 0;
    position: absolute;
    top: 28%;

    /* display: flex;
    justify-content: center; */

    /* -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

.nav_links i{
    padding: 0% 10%;
}
/* --------------------- */

.nav_lins a span:first-child {
    display: inline-block;
    padding: 10px;
  }

.nav_lins a {
    display: block;
    position: relative;
    overflow: hidden;
  }
   
/*.nav_lins a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* transform: translateX(-100%); */


/* .fs{
    transform: translateX(-100%);
} */

.nav_links a span {
    transition: transform 0.2s ease-out;
  }
   
.nav_links a:hover span:first-child {
    transform: none;
  }
   
.nav_links a:hover span:last-child {
    transform: translateX(210%);
  }

.span{
    display: flex;
}

span.l1{
    display: flex;
    margin-left: -210%;
}

span.l2{
    display: flex;
    margin-left: -190%;
}

span.l3{
    display: flex;
    margin-left: -400%;
}

span.l4{
    display: flex;
    margin-left: -390%;
}

/* #lss{
    position: absolute;
} */

/* ------------------ */

.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    /* z-index: 1; */
    /* top: 0;
    left: 0; */
    overflow-x: hidden;
    padding-top: 20px;
  }

  #mySidenav a {
    position: absolute;
    left: -80px;
    /* transition: 0.3s; */
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 120%;
    color: rgb(12, 18, 36);
    border-radius: 0 5px 5px 0;
  }
  
  /* #mySidenav a:hover {
    left: 0;
  } */


/* NAV ENDS */

/* CONTAINER */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HEADING STARTS */    

.heading{
    width: 100%;
    /* height: 80%; */
    align-items: center;
    text-align: center;
    font-size: 250%;   
    color: rgb(12, 18, 36);
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bolder; */
    padding: 4% 0% 0% 0%;

    /* background-image: url("Back15.jpg"); */
    /* background-color: rgb(143, 216, 238); */
    background-size: cover;
    background-position: top center;
    position: relative;
}

.description{
    font-size: 140%;
    
}

.space{
    padding: 2%;    
}

.desc1{
    
    width: 73%;
    font-size: 120%;
    height: auto;
    color: rgb(12, 18, 36);
    background-image: url("Back02.jfif");
    background-size: cover;
    border-radius: 30px;
    /* background-color: rgb(32, 32, 32); */
    /* opacity: 50%; */
    /* border-radius: 50px; */
}

.desc1 h3{
    padding: 4% 4%;
    opacity: 100%;
}

.vid{
    padding: 5%;
}
/* .desc02{
    padding: 0% 0% 5% 0%;
} */

.desc2{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 73%;
    height: auto;
    /* background-color: antiquewhite; */
    background-image: url("Back02.jfif");
    background-size: cover;
    /* opacity: 25%; */
    border-radius: 50px;
    color: rgb(12, 18, 36);
    padding: 2%;

    /* font-weight:bolder; */
    font-size: 120%;
}

.desc2 h3{
    opacity: 100%;
    padding: 4% 4%;
}

.space1{
    display: flex;
    align-items: center;
    padding: 3%;
}

/* VIDEO SECTION STARTS */

.vid{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    /* background-color: rgb(143, 216, 238); */
    /* opacity: 50%; */

    padding: 0% 2%;
}

.viddesc{
    width: 35%;
}

/* .vidplay{
    opacity: 100%;
} */

/* VIDEO SECTION ENDS */

/* DEVELOPERS SECTION STARTS */

.developer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0% 0% 0%;
    color: rgb(12, 18, 36);
    /* background-color: rgb(143, 216, 238); */
    
}

.devhead{
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: space-evenly; */
    align-items: center;
    padding: 0% 0% 2% 0%;
    font-size: 3vh;
}

.devmem{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2%;
    border-style: solid;
    border-color: white;
    /* align-items: center; */
    /* background-position:center; */

    color: rgb(12, 18, 36);
    /* background-color: rgb(143, 216, 238); */
    width: 100%;

    /* font-size: 3vw; */
}

.dev{
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border-style: solid;  
    border-color: white;
    border-radius: 20%;
    padding: 1% 3%; */
}

.dev img{
    padding: 5%;
    border-radius: 100%;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: 1vh; */
    /* padding: 5%; */
}

.info li{
    padding: 1%;
    font-size: 2vh;
}

.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.icons li{
    /* align-items: center; */
    padding: 3% 7%;
}


/* DEVELOPERS SECTION ENDS */


/* END */

/* .end{
    height: 10%;
} */

/* COPYRIGHT STARTS */
.copyright{
    display: flex;
    flex-direction: column;
    color: rgb(12, 18, 36);
    margin-left: auto;
    margin-right: auto;
    padding: 50px 20px;
    align-items: center;
    font-size: 2vh;
    width: 80%;
    height: 100px;
}
/* COPYRIGHT ENDS */
